.sidebar {
    border-right: 1px solid var(--layout-boder);
    background-color: var(--sidebar-background);
    min-height: 100%;
    width: 180px;
    margin-left: -180px;
    transition: .2s margin-left;
    position: absolute;
    height: 100%;

    @include ubreakpoint("large") {
        position: relative;
        height: auto;
        margin-left: 0px;
    }

}

.toggle-menu .sidebar {
    margin-left: 0px;
    width: 100%;
}

    .sidebar nav > ul {
        padding-left: 24px;
    }

    .sidebar nav ul {
        list-style: none;
    }

    .sidebar nav ul a {
        text-decoration: none;
        text-transform: uppercase;
        padding: 5px 15px 5px 0;
        display: inline-block;
        font-size: .8rem;

        &.active {
            color: var(--sidebar-nav-active);
        }
    }

    .footer {
        padding: 10px 24px;
        line-height: 30px;
        font-size: 12px;
        color: var(--secondary-font-color);
        border-top: 1px solid var(--layout-boder);
    }

.submenu {
    padding-left: 10px;
}
