//tables

table {
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
  border-collapse: collapse;
  border: 1px solid var(--content-widget-border);
  font-size: 14px;

  th,
  td {
    padding: 5px 10px;
  }

  th {
    font-weight: 400;
    background-color: var(--light-gray);
    color: var(--sidebar-background-light);
  }

  tr.sumRow {
    background-color: var(--light-gray);
    color: var(--body-color-alt);
  }

  :not(.tradeTbody) tr:nth-child(2n) {
    td, th {
      background-color: var(--very-light-gray);
    }
  }

  &.trades {
    tbody:nth-child(2n) {
      td, th {
        background-color: var(--very-light-gray);
      }
    }
  }

}
