//tables

table {
  width: 100%;
  text-align: left;
  color: var(--gray-brown);
  margin-bottom: 10px;
  background-color: var(--content-widgets-foreground);
  border-collapse: collapse;
  border: 1px solid var(--content-widget-border);
  font-size: 14px;


  th,
  td {
    padding: 5px 10px;
  }

  th {
    font-weight: 400;
    background-color: var(--sidebar-background);
    color: var(--sidebar-nav-active);
  }

  tr.sumRow {
    background-color: var(--lighter-green);
    color: var(--sidebar-background);
  }

  tr:nth-child(2n) {
    td, th {
      background-color: var(--alt-row-color);
    }
  }

  &.trades {
    tr:nth-child(2n) td, th {
      background-color: var(--content-widgets-foreground);
    }

    tbody:nth-child(2n) {
      td, th {
        background-color: var(--alt-row-color);
      }
    }
  }

}
