{
    "extends": "airbnb",
    "rules": {
        "jsx-a11y/label-has-associated-control": [ 2, {
            "assert": "either",
            "depth": 3
        }],
        "linebreak-style": 0,
        "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
        "max-len": ["error", { "code": 250 }]
    }
}
