/* Styles for feature component */

.sumRow {
  color: #fff;
  font-size: 1.25em;
  background-color: var(--sidebar-background);

  td {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
}
