.user {
    color: var(--sidebar-nav-active);
    margin-left: auto;
    text-decoration: none;
    padding: 11px 8px 8px;

    > span {
      border: 1px solid var(--sidebar-nav-active);
      padding: 7px 2px;
      border-radius: 50px;
      font-size: 12px;
      width: 2.5em;
      display: inline-block;
      text-align: center;

      &:hover {
        cursor: pointer;
      }
    }
}
