.login {
    align-items: center;
    display: flex;
    height: 100%;
}

    .login__form {
        background-image: linear-gradient(46deg, var(--sidebar-background-light),var(--sidebar-background-dark));
        padding: 25px;
        margin: auto;
        text-align: center;
    }

    .login__form h1 {
        font-size: 24px;
        font-weight: normal;
        color:#fff;
    }
