.detlaSpan {
  font-size: 0.75em;
  padding-left: 10px;
  // this thing below should be re-done into better html structure
  width: 50px;
  display: inline-block;
}

.neg {
  color: #ff2500
}

.pos {
  color: #26ff00
}
