.moonstreet {
    width: 180px;
    background-color: var(--sidebar-background-dark);
    text-decoration: none;
    font-size: 18px;
    line-height: 49px;
    text-align: center;
    display: none;

    // remove menu button if it doesn't make sense to show/hide menu
    @include ubreakpoint("large") {
      display: block;
    }
}
